* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* login styling */

.login-form {
  flex: content;
}

/* profile styling */
.profile {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid; */
  border-radius: 5%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* margin-right: 25%;
  margin-left: 25%; */
  width: 450px;
  overflow: scroll;
  height: 600px;
  padding-top: 15px;
}

.upload-new-demo {
  display: flex;
}

.edit-profile-textfields {
  display: flex;
  flex-direction: column;
}

.recs-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0%;
}


.left-side {
  /* border: solid;
  border-color: #61dafb; */
  padding-top: 0%;
  width: 20%;
  float: left;
}

.header {
  border: solid;
  border-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);;
  
}

.recs {
  /* border: solid;
  border-color: red; */
  background-color: rgb(250, 246, 246);
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 5%;
  padding-bottom: 10%;
  width: 80%;
  float: right;
}

img {
  border-radius: 50%;
}

.conversation{
  border: solid;
  border-color: purple;
  background-color: rgb(159, 199, 233);
  color: white;
  min-height: 100px;
  max-height: 300px;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 4px;
  margin-right: 4px;
  overflow: scroll;
}
